{{define "content"}}
        <h1 class="display-4 text-center">AOC {{.year}}</h1>
<div id='full-calendar' >
    <ul>
        <li class="no-hover">MON</li>
        <li class="no-hover">TUE</li>
        <li class="no-hover">WED</li>
        <li class="no-hover">THUR</li>
        <li class="no-hover">FRI</li>
        <li class="no-hover">SAT</li>
        <li class="no-hover">SUN</li>
        {{range $i := N (int .skipDays)}}
                <li class="no-hover">&nbsp;</li>
        {{end}}
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
    </ul>
</div>

<script>
    let winHeight = window.innerHeight;
    let height = ( winHeight * 16.6666 ) / 100;
    let lineHeight = height + "px";

    let elems = document.querySelectorAll('#full-calendar li');

    for (let i in elems) {
        if (elems[i].style) {
            elems[i].style.lineHeight = lineHeight;
            elems[i].style.height = height;
        }
    }
</script>
{{end}}